<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
</head>

<body>

<header>
    <h2 style="display: flex; align-items: center;">Admin Panel</h2>
    <nav>
        <a href="/Directory/GetImportedData">Import</a>
    </nav>
</header>

<hr />

<div class="container">
    @RenderBody()
</div>

<footer>
  
</footer>

</body>
</html>