@model LoginRequest

<form asp-action="Login" method="post">

    <div class="mb-3">
        <label>Login</label>
        <input asp-for="Login" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Password</label>
        <input asp-for="Password"
               type="password"
               class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">
        Login
    </button>

</form>